In [9]:
# module pandas digunakan untuk membaca file csv
import pandas as pd

# LabelEncoder: merubah labeh menjadi angka / numerik
# StandardScaler: berfungsi untuk melakukan normalisasi data
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [10]:
# ----- LANGKAH 1: LOAD DATA

# tentukan pathnya
data = '../../data/csv/titanic_dataset_fixed.csv'
df = pd.read_csv(data)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,DECK,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,DECK,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,DECK,S

In [11]:
# LANGKAH 2 - SLICE DATA

# memilih data yang nantinya akan menjadi pertimbangan apakah penumpang kapal selamat atau tidak
df = df[['Survived', 'Pclass', 'Age', 'Sex', 'Cabin']]
df.head()

   Survived  Pclass   Age     Sex Cabin
0         0       3  22.0    male  DECK
1         1       1  38.0  female   C85
2         1       3  26.0  female  DECK
3         1       1  35.0  female  C123
4         0       3  35.0    male  DECK

In [12]:
# LANGKAH 3 - ENCODING

# membuat objek LabelEncoder
le = LabelEncoder()

# mengambil data kolom jenis kelamin dan diencoding menjadi 0 dan 1
df['Sex'] = le.fit_transform(df['Sex'])

# mengubah data non-numerik menjadi numerik pada kolom cabin
df['Cabin'] = le.fit_transform(df['Cabin'])

In [13]:
# LANGKAH 4 - VERIFIKASI HASIL

df.head() # menampilkan hasil

   Survived  Pclass   Age  Sex  Cabin
0         0       3  22.0    1    115
1         1       1  38.0    0     81
2         1       3  26.0    0    115
3         1       1  35.0    0     55
4         0       3  35.0    1    115

In [14]:
# LANGKAH 5 - STANDARISASI

# membuat objek StandardScaler
std = StandardScaler()

# menghitung rata rata dan deviasi standar dari umur
df['Age'] = std.fit_transform(df[['Age']])

In [15]:
# LANGKAH 6 - VERIFIKASI HASIL STANDARISASI

df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115